@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  box-sizing: border-box;
}
.macbook-pro-1 {
  align-items: center;
  background-color: var(--porcelain);
  display: flex;
  flex-direction: column;
  height: 900px;
  width: 1440px;
}
.macbook-pro-1 .adjust-1 {
  align-self: flex-end;
  height: 37px;
  object-fit: cover;
  width: 39px;
}
.macbook-pro-1 .banner {
  align-items: center;
  background-color: var(--midnight);
  display: flex;
  height: 79px;
  padding: 18px 12px;
  width: 1440px;
}
.macbook-pro-1 .break-logo {
  height: 132px;
  margin-bottom: 17px;
  object-fit: cover;
  width: 132px;
}
.macbook-pro-1 .ellipse- {
  height: 28px;
  margin-top: 16px;
  width: 27px;
}
.macbook-pro-1 .ellipse-1 {
  height: 27px;
  width: 27px;
}
.macbook-pro-1 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 36px;
  min-height: 736px;
  width: 683px;
}
.macbook-pro-1 .flex-col-1 {
  align-items: center;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 67px;
  min-height: 251px;
  width: 278px;
}
.macbook-pro-1 .flex-row {
  align-items: flex-start;
  display: flex;
  margin-right: 6px;
  margin-top: 36px;
  min-width: 1364px;
}
.macbook-pro-1 .frame-1 {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 383px;
  margin-left: 4px;
  margin-top: 34px;
  width: 679px;
}
.macbook-pro-1 .group-29 {
  align-items: flex-start;
  display: flex;
  margin-right: 1px;
  margin-top: 56px;
  min-width: 103px;
}
.macbook-pro-1 .group-30 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.86px;
  margin-left: 65px;
  min-height: 158px;
  width: 27px;
}
.macbook-pro-1 .group-31 {
  height: 744px;
  width: 645px;
}
.macbook-pro-1 .jennifer {
  height: 22px;
  letter-spacing: 0px;
  line-height: 22px;
  margin-bottom: 1px;
  margin-left: 13px;
  min-height: 22px;
  white-space: nowrap;
  width: 109px;
}
.macbook-pro-1 .overlap-group {
  align-items: flex-start;
  background-color: var(--dodger-blue);
  border-radius: 5px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  min-width: 101px;
  padding: 0px 6.8px;
}
.macbook-pro-1 .pause {
  height: 30px;
  letter-spacing: 0px;
  line-height: 0.1px;
  min-height: 30px;
  text-align: center;
  width: 85px;
}
.macbook-pro-1 .pomodoro-timer {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 319px;
  justify-content: flex-end;
  min-width: 683px;
  padding: 32px 48px;
}
.macbook-pro-1 .profile {
  align-items: center;
  display: flex;
  margin-left: 1027px;
  overflow: hidden;
  width: 167px;
}
.macbook-pro-1 .profile-picture {
  height: 33px;
  width: 34px;
}
.macbook-pro-1 .study-flow {
  height: 30px;
  letter-spacing: 0px;
  line-height: 30px;
  margin-bottom: 1px;
  margin-left: 21px;
  min-height: 30px;
  min-width: 135px;
  text-align: center;
  white-space: nowrap;
}
.macbook-pro-1 .time {
  height: 100px;
  letter-spacing: 0px;
  line-height: 22px;
  margin-top: 38px;
  min-height: 100px;
  text-align: center;
  width: 278px;
}
.macbook-pro-1 .title {
  letter-spacing: 0px;
  line-height: 24px;
  min-height: 24px;
  min-width: 142px;
  white-space: nowrap;
}
.sourcesanspro-regular-normal-black-120px {
  color: var(--black-2);
  font-family: "Source Sans Pro-Regular", Helvetica;
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
}
.sourcesanspro-regular-normal-black-30px {
  color: var(--black);
  font-family: "Source Sans Pro-Regular", Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}
.sourcesanspro-regular-normal-white-18px {
  color: white;
  font-family: "Source Sans Pro-Regular", Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.sourcesanspro-regular-normal-white-20px {
  color: white;
  font-family: "Source Sans Pro-Regular", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.sourcesanspro-regular-normal-white-30px {
  color: white;
  font-family: "Source Sans Pro-Regular", Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --black: rgba(0, 0, 0, 0.85);
  --black-2: rgba(0, 0, 0, 0.65);
  --dodger-blue: rgba(24, 144, 255, 1);
  --midnight: rgba(0, 20, 44, 1);
  --porcelain: rgba(240, 242, 245, 1);
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}